form {
    margin: 250px;
}

#finishBtn{
    float: right;
}
button{
    margin-left: 40px;
}

#buttons{
display: flex;
width: 70%;
justify-content: space-between;
}

label{
    width: 130px;
}

#form {
    border: 2px solid gray;
    background-color: rgba(127, 255, 212, 0.445);
    width: 70%;
    padding: 20px;
    height: 190px;
}

body{
    background-color: rgba(143, 141, 141, 0.603);
}
#width{
    max-width: 100%;

}