#allDetails { 
    background-image: linear-gradient(to left, rgba(143, 141, 141, 0.603), white);
}
h4 {
    color: rgb(0, 176, 199);
    text-align: center;
}
p {
    color: rgb(0, 177, 184);
    margin: 20px;
}
#prev {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}
#btnDiv {
    height: 200px;
    position: relative;
  }
img {
      -webkit-mask-image:-webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
      mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    }